@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
  font-family: "ibm plex";
  font-size: 16px;
  line-height: 1.6;
  color: #2a2a2a;
  overflow-x: hidden;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

nav {
  font-family: "young";
  font-size: 24px;
  background-color: #00b98d;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a {
  color: #fff;
  margin: 5px 30px;
}

main {
  position: relative;
  z-index: 1;
  background-color: #fff;
  min-height: 100vh;
  transition: transform 0.5s ease;
}

a.toggle-nav {
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

a.toggle-nav img {
  margin-right: 5px;
}

main.open {
  transform: translateX(240px);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section div {
  width: 350px;
}

section div.content {
  margin-left: 60px;
}

h1 {
  font-family: "young";
  font-size: 48px;
  line-height: 1.2;
}

p {
  margin: 20px 0;
}

a.button {
  display: inline-block;
  background-color: #00b98d;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
}

div.slides {
  height: 475px;
  position: relative;
}

div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.slides img:first-child {
  z-index: 1;
}

div.slides:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
